finance-rag-agent-repo/finance-rag-agent/workflows/Workflow-1-Finance- Document.json
{
  "name": "Finance Document",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3107e260-6c5c-4593-8ca2-813f849df1fe",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1GW7g0rD3jY7vnbtDrrMGYkrk4H12G1bz",
            "mode": "list",
            "cachedResultName": " rag-uploads2",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1GW7g0rD3jY7vnbtDrrMGYkrk4H12G1bz"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "7dab636e-65dc-4e2e-a3b9-36c0975aa4da",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Va3CLbZy98msj5Yy",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "07846c66-6b82-48a5-af69-04184f1d7fb9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Va3CLbZy98msj5Yy",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-documents-v2",
          "mode": "list",
          "cachedResultName": "rag-documents-v2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "79a5f7b1-f075-410c-a0c0-cac7f6a1904c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "KKWPavqs35GiSBZf",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        960,
        128
      ],
      "id": "e40565ed-1c8f-4047-9d49-9535adea5755",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1072,
        272
      ],
      "id": "10ab57ee-9584-4722-a7f2-9c153c52ab99",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        592,
        0
      ],
      "id": "eee05593-d105-47f3-a40b-31eb1ce6cdb1",
      "name": "Extract from File1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        176
      ],
      "id": "b71cd756-50a0-4d9d-88eb-b202172eb57f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "NbtDjC4Jc78zd1VJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e12b2a52-bb04-4004-ad76-aaa9203c3807",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "541f5818752877663f5880c8c888d70adbc116c39d230314336bab63768b1b22"
  },
  "nodeGroups": [],
  "id": "Trgr2rqD1NYT37oV",
  "tags": []
}